*{
	margin: 0;
	padding: 0;
}
#cabecalho{
	background-image: url(../imagens/banner.jpg);
	background-size: cover;
	width: 100%;
	height:calc(100vh/3);
	padding: 0;
	margin: 0;
}

#cabecalho h1{
	display:none;
}
#af{
	margin-top: 60px;
	position:absolute;
	margin-left:0px;
	text-align:left;
	width:100px;
}

#af a{
	background-color:black;
	font-size:20px;
	width:250px;
	display:block;
	color: white;
}

#af a:hover{
	color: black;
	background-color: white;
}

.topnav{
	line-height: 60px;
	overflow: hidden;
	background-color: black;
	color: white;
	width: 100%;
	height: 60px;
	
}
.topnav a {
	display: block;
	float: left;
	color: white; 
	text-decoration: none;
	font-size: 1.0625em;
}
p {
	text-align: justify;
	text-indent: 4vw;
}
h1{
	font-size: 4vw;
}
h1, h2, h3 {
	font-style: italic;
}
li{
	list-style-type:none;
}
section {
	text-align:center;
	padding: 3.125em;
	background: #303030;

}
article{
	text-align:left;
	max-width:1000px;
	background: white;
	padding: 40px;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 20px;
}

.div-portifolio{
	text-align:left;
	max-width:1000px;
	background: white;
	padding: 40px;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	
}
.div-portifolio a .imgindex{
	width: 20em;
	height: 10em;
	max-width: 100%;
	min-width: 150px;
	float: center;
}
#gilmore{
	max-width: 15em;
	max-height: 20em;
	float: right;
}
.imgpaginas{
	max-width: 30em;
	max-height: 15em;
	float: right;
	margin: 20px;
}
@media screen and (max-width: 1080px){
.imgpaginas{
	max-width: 12em;
	max-height: 6em;
	float: none;
}}

@media(max-width: 940px){
	#cabecalho h1{
		text-align:center;
		font-family:vivaldi;
		font-weight:100;
		display:block;
		margin-top:40px;
		color:white;
		font-size:calc(100vw/9);
		position:absolute;
	}
	
	#cabecalho{
		text-align:center;
		background-image:none;
	}
	section{
		text-align:center;
		padding:0;	
	}
}
footer{
	color: #eee;
	background-color: black;
	height: 60px;
	line-height: 60px;
}	